@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--vscode-font-family);
    color: var(--vscode-editor-foreground);
    background-color: var(--vscode-editor-background);
  }

  [hidden] {
    display: none !important;
  }

  button,
  input,
  select,
  textarea {
    font: inherit;
    color: inherit;
  }
}
